* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

@font-face {
  font-family: 'Fellix';
  src: local('Fellix Regular'), local('Fellix-Regular'),
      url('/fonts/Fellix-Regular/Fellix-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body{
background-color: rgb(50, 50, 50);
height: 6000px;
}

.hero-image {
  height: 100vh; /* Adjust the height as needed */
  background-image: url('/IMG-20230408-WA0009.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-overlay {
  background-color: rgba(0, 0, 0, .7); /* Adjust the opacity as needed (0.0 to 1.0) */
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-text {
  margin: 0 1rem 2rem 1rem;
  bottom: 0;
  /* margin: 3rem; */
  text-align: left;
  position: absolute;
  /* top: 55%; */
  left: 5%;
  /* transform: translateY(-50%); */
  color: white;
  z-index: 1;
  max-width: 70%;
}


.hero-text h1 {
font-weight: 200;
  line-height: 75%;
  /* Add the below two rules */
  overflow: hidden;
  padding: 20px 0 5px;
  letter-spacing:  -.02rem;
  font-size: calc(130px + 0.390625vw);
  background-image: linear-gradient(45deg, #ff3e8e, #fea4a4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Fallback for older browsers */

}
.hero-text h2 {
  font-weight: 200;
  margin-bottom: 30px;
  /* font-family: 'Fellix'; */
  letter-spacing: .09rem;
  font-size: calc(20px + 0.390625vw);

}
.hero-text p {
  font-family: 'Fellix';
  letter-spacing: .09rem;
  font-size: calc(20px + 0.390625vw);

}
.hero-text button {
  /* font-family: 'Fellix'; */
  letter-spacing: .1rem;
  margin-top: 40px;
  color: #fff !important;
  background-color: #ff3b4e; 
  /* box-shadow: 8 0 0 0 2px #ffffff; */
  border: none;
  border-radius: 50px; /* Adjust the border-radius to achieve the desired rounded corners */
  cursor: pointer;
  font-size: 1.1rem; /* Adjust the font size as needed */
  padding: 20px 30px; /* Adjust the padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.hero-text button:hover {
  background-color: #bb2f3d; /* Adjust the hover background color as needed */
  box-shadow: inset 0 0 0 2px #ff3b4e;
}

/* src/components/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px; /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 1);
}

/* src/components/Header.css */
.header-logo {
  opacity: 0;
  font-size: calc(1.3rem + 0.390625vw);
  background-image: linear-gradient(45deg, #fea4a4, #ff3e8e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Fallback for older browsers */
  transition: opacity 0.3s ease;
}

.header.scrolled .header-logo {
  font-size: calc(1.3rem + 0.390625vw); /* Adjust the font size for the scrolled header */
}

.header-nav {
  opacity: 0;
  background-color: black;
  height: 300px;
  top: 0;
  /* top: 0; */
  left: 0;
  /* width: 200px; */
  position: fixed;
  /* display: flex; */
  /* margin: 0 50px; */
  bottom: 0;
  /* height: 100px; */
  margin-top: 76px;
  /* bottom: 0; */
  /* width: 100%; */
}


.header-link {
  color: transparent;
  text-decoration: none;
  padding-right: 20px; /* Add padding instead of margin */
  transition: color 0.3s ease;
  font-size: calc(1rem + 0.390625vw);
}

.header-link:hover {
  text-decoration: underline;
}

.header.scrolled .header-logo,
.header.scrolled .header-link, header.scrolled .hamburger-menu,header.scrolled .header-nav  {
  color: white;
  opacity: 1;
}
.hamburger-menu {
  opacity: 0;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.hamburger-line {
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
.hamburger-menu.open .hamburger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-menu.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .hamburger-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media (max-width: 768px) {
  .hero-image {
    height: 80vh; 
  }
  .hero-text {
    max-width: 100%;
  }
  .hero-text h1 {
    font-size: calc(100px + 0.390625vw);
    text-align: center;
  }
  .hero-text h2 {
    margin-bottom: 30px;
    text-align: center;
    /* font-family: 'Fellix'; */
    letter-spacing: .09rem;
    font-size: calc(17px + 0.390625vw);
  
  }
  .hero-text p {
    letter-spacing: .04rem;
    font-size: calc(16px + 0.390625vw);
  }
  
}
@media (max-width: 375px) {
  .hero-text {
    max-width: 100%;
  }
  .hero-text h1 {
    font-size: calc(60px + 0.390625vw);
  }
  
  .hero-text p {
    letter-spacing: .04rem;
    font-size: calc(10px + 0.390625vw);
  }
  @media (max-width: 768px) {
    .hamburger-menu {
      opacity: 1;
    }
  
    .header-nav {
      display: flex;
    }
  }
}